@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "MEET THE CHIEF EXECUTIVE OFFICER";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

<article>
    <p>
        Reverend Aleck A. Brown serves as Associate Minister at Fairfield Baptist Church (FBC).  
        Accepting his call to Ministry in 1996, he was licensed to preach by FBC in 1997 and was ordained in 2002. 
        His ministry involvement includes serving as Adult Sunday School Teacher and Dean of Instruction for FBC Institute of Biblical Studies.   
        A Former member of Fairfield Baptist Church Kingdom Voices Toastmaster where he is recognized as an Advanced Communicator Gold and Advanced Leader Bronze.  
        He has served as Moderator for FBC Ministerial Staff from 2002 - 2006. 
    </p>
    <p>
        His educational accomplishments include an Associate in Applied Science for Financial Management from the Community College of the Air Force, 
        a Bachelor of Science in Management of Technical Operations from Embry-Riddle Aeronautical University, 
        a Master of Arts in Ministry from Luther Rice University (LRU), and a Master of Divinity from Luther Rice Seminary.  
        Reverend Brown is married to the former Arnita Fisher and together they have one son.  
        He stands secured on the promises of God and lives his life based on Philippians 4:13, “I can do all things through Christ which strengthens me.” 
    </p>
    <hr>
    <p>In memory of Little Alexia Angel</p>
    <p>YOU ARE SPECIAL</p>
    <p>A GIFT FROM GOD</p>
    <p>
        Precious and joyful you are a gift from God. 
        Our little "Angel" the love that you brought.
        You will always be remembered as a gift from God. 
        We know not the reason you had to depart. 
        But you will always be our little "Angel" a gift from God. 
        For this very reason you will always be in our hearts. 
        Now you sleep in God's heavenly care. 
        We have given you back to God. 
        Although your leaving has caused us some despair. You are still our little "Angel" a gift from God.
    </p>
</article>

<aside>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/Vision">Vision</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>