@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Chaplain Aleck A. Brown";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
        <span style="color: #f00; font-style:  italic">
        "The Spirit of the LORD is upon Me, Because He has anointed Me To preach the gospel to the poor; 
        He has sent Me to heal the brokenhearted, To proclaim liberty to the captives And recovery of sight to the blind, 
        To set at liberty those who are oppressed; To proclaim the acceptable year of the LORD."
        </span>
        <span style="font-weight: bolder; font-style: italic">Luke 4:18-19 (NKJV)</span>
    </div>
</section>
}

<p>
    <a href="~/NTHandbook">New Testament Handbook</a>
</p>