@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "New Testament Handbook";
}

<article>
    <img src="~/Images/NTHandbook.jpg" />
    <ol class="round">
        <li>
            By Aleck A. Brown
        </li>
        <li>
            Publication Date: November 17, 2008 <br>
            In his debut book, New Testament Handbook – A Guided Approach to Understanding the New Testament, author Aleck A. Brown has revolutionized the study of the New Testament. 
            As a present-day scholar of the Bible, he has combined his love for God, an in-depth knowledge of the Word, 
            and a profound revelation through the Holy Spirit to bring forth an illumination and a deeper understanding of God’s Word as chronicled in the New Testament. 
        </li>
        <li>
            As a fulfillment to his sincere desire for ministers and laypersons alike to better understand God’s word, 
            Reverend Brown has developed a simplified approach that compliments other resource guides. 
            However, this handbook goes a step further by providing a common-day understanding of God’s Word. 
            Inclusive of historical background, documenting relevant information such as: 
            Authorship, Provenance, Readership, Purpose, Polemics, Genre and the like, this book also includes Scriptural Highlights and a Glossary of Terms. 
            This guided approach will give its readers a virtual experience into the historical settings of the New Testament. 
        </li>
        <li>
            This provocative, enlightening and concise review of the 27 books of the New Testament will draw its reader into a broader appreciation and revelation of the scriptures. 
            From this encounter readers will excel to a greater level of understanding and biblical scholarship. 
        </li>
        <li>
            From Matthew’s account of the generations of Jesus Christ, to the introduction of the second coming of Christ, 
            as chronicled by John in the book of Revelation, this handbook will serve as a valued companion to your biblical and hermeneutical studies.
        </li>
    </ol>
</article>

<aside>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/Vision">Vision</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>