@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Vision Statement";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

<article>
    <ul>
        <li>To empower Christian leaders to be effective in their individual calling as leaders in the body of Christ.</li>
        <li>To equip Ministers for the service of speaking the truth of God’s Word.</li>
        <li>To give laity clarity of God’s Word.</li>
        <li>To make believers equipped to serve within the body of Christ.</li>
        <li>To reveal the truth of God’s word so that believers of all ages will be exposed to the biblical principles of financial management.</li>
    </ul>
</article>

<aside>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>